
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(222, 132, 132);
    }
  }
  
h1{
    background-color: bisque;
    padding: 20px;
}
#intro{
    background-color: aliceblue;
    margin: 20px;
    line-height: 25px;

}
li{
    border-color: aquamarine;
    padding: 20px;
  

  
    
}
.contact{
    background-color: rgb(53, 86, 30);
    padding: 20px;
    color:white;
    align-items: center;

}
h2{
    text-align: center;
   color: rgb(255, 215, 12);
}
h1{
    text-align: center;
    color:rgb(0, 89, 27);
}
a {
    color: aqua;
    text-decoration: none;
}
:active{
    color: chocolate;
}